.DS_Store
Thumbs.db

/config/database.local.php

/logs/*.log
!/logs/.gitkeep

/uploads/*
!/uploads/productos/.gitkeep
!/uploads/usuarios/.gitkeep
!/uploads/vouchers/.gitkeep

/vendor/
composer.lock

*.zip
*.docx
*.pdf

.idea/
.vscode/
